*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: purple;
}
/*START HEADER*/

header{
  width: 100%;
  min-width: 300px;
  background-color: #fff;
}
nav{
  width: 100%;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-auto-rows: minmax(80px,0%);
  height: 80px;
}
.nav-brand{
  grid-column: 1/3;
  width: 165px;
  height: 100%;
}
.nav-brand img{
  width:100%;
}
.nav-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 28px;
  cursor: pointer;
  margin-top: 23px;
}
.nav-menu *{
  display: block;
  width: 22px;
  height: 2px;
  background-color: #333;
}
.demo{
  height: 40px;
  width: 100px;
  background-color: purple;
  text-align: center;
  padding-top: 6px;
  grid-column: 5/6;
  border-radius: 10px;
  margin-top: 20px;
}
.demo a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.nav-list{
  list-style: none;
  background-color: purple;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid-column: 1/7;
  z-index: 2;
}
.nav-list .nav-item{
  display: block;
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.nav-list .nav-item .nav-link{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

/* media for navigation menu*/
@media screen and (min-width: 792px) {
  nav{
    grid-template-columns: repeat(5,1fr);
  }
  .nav-brand{
    grid-column: 1/2;
  }
  .nav-menu{
    display: none;
  }
  .nav-list{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: auto;
    grid-column: 2/5;
    grid-row: 1;
  }
  .nav-list .nav-item{
    margin: auto;
    border-right: 1px solid #000;
  }
  .nav-list .nav-item:last-of-type{
    border: none;
  }
  .nav-list .nav-item .nav-link{
    text-decoration: none;
    color: purple;
    font-size: 23px;
  }
}

/*START MAIN*/
main{
 width: 100%;
 min-width: 300px;
 }
.img-container{
     min-height: 100vh;
     width: 100%;
     position: relative;
}
.img-container img{
   width: 100%;
}
.card{
   width: 100%;
   min-width: 300px;
  background-color: purple;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 0;
  border-top-right-radius: 20%;
}
.card h1{
  width: 80%;
  margin: 50px auto 10px;
}
.card p{
  padding: 10px;
  width: 80%;
  margin: 0 auto 20px;
}
.card a{
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  width: 120px;
  margin: 10px auto 20px;
  border-radius: 10px;
}
/* media*/
@media screen and (min-width: 650px) {
 .card{
      top: 0;
      border-radius: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(141, 21, 131, 0.6);
      color:rgb(221, 178, 217);
 }
 .card h1{
   font-size: 55px;
  }
  .card p{
     padding: 20px;
     font-size: 23px;
   }
  .card a{
     padding: 20px;
     font-size: 25px;
     color:rgb(221, 178, 217);
   width: 180px;
   }
}
